<h1 class="register-header">{{title}}</h1>
<div class="container">
    <div class="register">
        <div class="register-triangle"></div>
        <h2 class="register-header">Partidos</h2>
        <span >{{mensaje}}</span>
        
        <form  #formRegister="ngForm" class="login-container" (ngSubmit)="onActualizar(formRegister);">
           
            <p>
                <label >Equipo Local:</label>
                <label>{{partido.local.nombre}}</label>
            </p>
           
          
            <p>
                <input matInput type="number " name="goles_local" #goles_local="ngModel" [(ngModel)]="partido.goles_local"  placeholder="Goles Local" ngModel required>
                <!--<span *ngIf="!nombre.valid && nombre.touched">El Nombre Es Obligatorio</span>-->
                <!-- #nombre="ngModel" [(ngModel)]="usuario.nombre" -->
            </p>
            <p>
                <label >Equipo Visitante:</label>
                <label>{{partido.visitante.nombre}}</label>
            </p>
            <p>
                <input matInput  type="number " name="goles_visitante" #goles_visitante="ngModel" [(ngModel)]="partido.goles_visitante" placeholder="Goles Visitante" ngModel required>
                <!--<span *ngIf="!nombre.valid && nombre.touched">El Nombre Es Obligatorio</span>-->
                <!-- #nombre="ngModel" [(ngModel)]="usuario.nombre" -->
            </p>
            <input type="submit" value="Actualizar Marcador" />
          </form> 
          
    </div>
</div>
