<!--The content below is only a placeholder and can be replaced.  *ngIf="authService.logIn" -->
<!--The content below is only a placeholder and can be replaced. (click)="logout()" *ngIf="authService.logIn" -->
<!--*ngIf="!authService.logIn"--> 
<div class="container" >
<div style="text-align:center" nav-ba >
  <ul >
    <li><a routerLink="" routerLinkActive="">Inicio</a> </li>
    <li *ngIf="!usuarioService.esAutenticado()"><a class="nav-link" routerLink="registro" routerLinkActive="active">Registrar</a> </li>
    <li *ngIf="usuarioService.esAutenticado()"><a class="nav-link" routerLink="registro-partido" routerLinkActive="active">Registrar Partidos</a> </li>
    <li *ngIf="usuarioService.esAutenticado()"><a class="nav-link" routerLink="partido" routerLinkActive="active">Listar Partidos</a> </li>
    <li *ngIf="!usuarioService.esAutenticado()" style="float:right"> <a class="nav-link" style="float:right" routerLink="/login" routerLinkActive="active" >Login</a> </li>
    <li *ngIf="usuarioService.esAutenticado()" style="float:right"> <a clzass="nav-link" routerLinkActive="active"   (click)="logout()">Logout</a> </li>
</ul>
  
  <div class="text-center"> 
  </div>
</div>
</div>
  <router-outlet></router-outlet>